{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="mainContainer">
        <h2>This page will soon be displaying something just take a coffee and wait :)</h2>
        <img class="wipImg" src="images/WorkInProgress.png" alt="wip.png">
    </div>

    {% for home in homes %}
        <p>{{ home.nom }}</p>
    {% endfor %}

{% endblock %}
