{% extends 'base.html.twig' %}

{% block title %}Hello PropertiesController!{% endblock %}

{% block body %}



    <a href="{{ path('app_property') }}" class="btn btn-success">add property</a>
{% endblock %}
