{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Let's get started</h1>
    <p>Where is your property located ?</p>
    {{ include('post/_address.html.twig') }}

</div>



{% endblock %}
